{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% form_theme form _self %}

{% block text_widget %}
    <p>
        <input type="text" {{ block('widget_attributes') }} placeholder="{{name | title}}" value="{{value}}">
    </p>
{% endblock %}

{% block email_widget %}
    <p>
        <input type="email" {{ block('widget_attributes') }} placeholder="{{name | title}}" value="{{value}}">
    </p>
{% endblock %}

{% block password_widget %}
    <p>
        <input type="password" {{ block('widget_attributes') }} placeholder="{{"password" | title}}">
    </p>
{% endblock %}

{% block form_errors %}
    <p class="errors"   >
        {{errors}}
    </p>
{% endblock %}

{% block body %}
    <div class="wrapper">
        
        <img src="{{ asset('img/logo.png') }}"/>
        
        <div class="login">
            
            <!--
            <form name="user" action="register" method="post">
                <p><input name="user[username]" required="required" placeholder="Username"></p>
                <p class="errors">{{ form.username.vars.errors }}</p>
                
                <p><input name="user[email]" required="required" placeholder="Email"></p>
                <p class="errors">{{ form.email.vars.errors }}</p>
                
                <p><input type="password" name="user[plainPassword][first]" required="required" placeholder="Password"></p>
                <p class="errors">{{ form.plainPassword.first.vars.errors }}</p>
                
                <p><input type="password" name="user[plainPassword][second]" required="required" placeholder="Password"></p>
                <p class="errors">{{ form.plainPassword.second.vars.errors}}</p>
                
                <p><input type="submit" value="Create"></p>
            </form>
            -->
            
            {{ form_start(form) }}
                <p>
                    {{ form_row(form.username)}}
                </p>
                <p>
                    {{ form_row(form.email) }}
                </p>
                <p>
                    {{ form_row(form.plainPassword.first) }}
                </p>
                <p>
                    {{ form_row(form.plainPassword.second) }}
                </p>
                <input type="submit" value="Register"/>
                <span><a href="login">Cancel</a></span>
            {{ form_end(form) }}
            
        </div>
    </div>
{% endblock %}